[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
requests = "*"
pocketbase = "*"
getenv = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.12"
